*{
    margin: 0;
    padding: 0;
}
.main{
    background: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subcontain{
    background: rgb(155, 155, 155);
    /* padding: 10px; */
    height: 390px; 
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 3px 10px black;
}
.mainhead{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}
img{
    border-radius: 50px;
}
.middle{
    background: rgb(58,156,161);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.textarea{
    padding: 10px;
    position: relative;
}
input{
    height: 20px;
    padding: 2px;
    width:100%;
}
.same{
    position: absolute;
    top:4px;
    left: 14px;
    line-height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    color:grey;
    user-select: none;
    pointer-events: none;

}
.btn{
    display: flex;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
}
.btn:hover{
    background-color: aquamarine;  
}
.footer1{
    background: rgb(63,65,72);
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    color: white;
}
.footer2{
    background: rgb(55,76,92);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    margin: 2px 10px;
    color: grey;
}
.fa-instagram:hover{
    color: rgb(161, 33, 33);
}
.fa-github-square:hover{
    color: black;
}
.fa-facebook-official:hover{
    color: rgb(30, 30, 80);
}
.fa-youtube-play:hover{
    color: rgb(201, 10, 10);
}

.textarea input:focus ~.same, .textarea input:valid ~.same{
    display: none;
}
